// examples

$border-radius-base:  0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-size-extra-large: ceil(($font-size-base * 1.5)) !default;

$panel-default-heading-bg: inherit;

$size-avatar-comment: 64px;