/**
 * profile-page
 */
.profile {
    padding-top: 70px;

    .cover-photo {
        overflow: hidden;
        background-image: url('http://www.microsoft.com/africa/4afrika/images/banner_skills.png');
        background-size: cover;
        background-repeat: no-repeat;

        .cover-wrap {
            height: 270px;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .profile-img {
            background-color: #bdc3c7;
            width: 140px;
            height: 140px;
            margin-top: 70px;
            border-radius: 50%;
            border: $border-level1;
            overflow: hidden;
            padding: 0;
        }

        .profile-info {
            padding-top: 60px;
            padding-left: 32px;
            color: #f5f5f5;
            font-size: 0.9em;

            .displayname {
                h2, button {
                    display: inline-block;
                }

                button.follow-button {
                    margin-left: 16px;
                    margin-bottom: 12px;
                    border: solid 2px #f5f5f5;
                    background: none;
                    font-size: $font-size-base;
                    font-weight: 600;

                    &:hover {
                        outline: none;
                        background-color: #f5f5f5;
                    }
                }
            }

            .profile-location,
            .profile-website {
                display: inline-block;
            }

            .profile-website {
                margin-left: 16px;
                a {
                    color: #ffffff;
                    font-size: $font-size-small;
                    &:hover {
                        color: #ffffff;
                    }
                }
            }

            .profile-description {
                position: relative;
                top: 16px;
                font-family: "PT Sans", sans-serif;
                // font-style: italic;
                font-size: 18px;
                font-weight: 300;
            }
        }
    }
}

//menu-horizontal
.profile-menu-horizontal {
    height: 52px;
    background-color: #f5f5f5;
    color: #2a2a2a;
    box-shadow: $box-shadow-level1;

    .tmenu-wrap {
        margin: 0 auto;
        height: 52px;
        display: table;

        .menu-name {
            margin: 0;
        }

        .menu-data {
            margin: 0;
        }
    }

    .tmenu-middle {
        display: table-cell;
        vertical-align: middle;
    }

    a {
        display: block;
        color: #4a4a4a;
        border: solid 2px #f5f5f5;

        &:hover {
            color: #1a1a1a;
            border-bottom: solid 2px #2a2a2a;
        }
    }
} //end home-page

/**
 * boxs-list
 */
.boxs-list {
    padding-top: $profile-top-padding;

    .thumbnail-img {
        height: 229px;

        img {
            position: absolute;
            top: 0;
            // left: -100%;
            // right: -100%;
            // top: -100%;
            // bottom: -100%;
            margin: auto;

            max-height: 229px;// width > height
            //for height > width
            //max-width: 100%;
        }
    }

    .caption .text-right {
        float: right;
    }
}

/**
 * posts-list
 */
.posts-list {
    padding-top: $profile-top-padding;
}

.posts-list .thumbnails .caption, .box .thumbnails .caption {
    padding-bottom: 24px;
}